﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload File</h2>
<table cellspacing="2" cellpadding="2" border="1">
	<tr>
		<th>Level1</th>
		<th>Level2</th>
		<th>Level3</th>
		<th>Level4</th>
	</tr>
	@foreach (var p in ViewBag.ListProducts)
	{
		<tr>
			<th>@p.Level1</th>
			<th>@p.Level2</th>
			<th>@p.Level3</th>
			<th>@p.Level4</th>
		</tr>
	}
</table>
<p>rewrwer</p>
