﻿<h2>Upload File</h2>

@using (Html.BeginForm("Import", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<span>Excel file</span><input type="file" name="excelfile"/>
	<br />
	<input type="submit" value="Import"/>

}