﻿
@{
	Layout = null;
}

<h2>Index</h2>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Index</title>
</head>
<body>
	@using (Html.BeginForm("Import", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.Raw(ViewBag.Error)
		<span>Excel file</span><input type="file" name="excelfile" />
		<br />
		<input type="submit" value="Import" />

	}
</body>
</html>