﻿@using Parser.Models
@model List<ProductGroup>
@{
	var groupList = ViewBag.GroupList;
	ViewBag.Title = "Success";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Success</title>
</head>
<body>
	<h3>List</h3>
	groupList[1]
	<div>@groupList[1]</div>
	<div>@groupList[2]</div>
	<div>@groupList[3]</div>
	



</body>
</html>
